html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a:hover, a:focus {
  text-decoration: none;
  background: transparent !important;
}

ul {
  margin: 0;
  padding: 0;
}

p {
    margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  color: #2A88AB;
  font-size: 50px;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  color: #196B70;
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
}

.item_left {
    float: left;
    clear: right;
    text-align: right;
}

.item_right {
    float: right;
    clear: left;
    text-align: left;
}

#timeline {
  padding-top: 50px;
  padding-bottom: 50px;
}

.timeline {
  margin: 0 auto;
  background: url('../images/timeline_bar.jpg') repeat-y;
  background-position: 50% 0;
  padding: 50px;
  overflow: hidden;
  color: #FFFFFF;
}

.timeline li {
    background: #2A88AB;
    max-width: 47%;
    width: 47%;
    padding: 7px;
    margin: 0;
    margin-top: 5px;
    border-radius: 2px;
    text-wrap: auto;
    list-style: none;
    margin-top: -35px;
  }


.pointer_left {
   border-color:transparent transparent transparent #2A88AB;
   border-style:solid;
   border-width:20px;
   width:0;
   height:0;
   position: relative;
   top : 0;
   float: right;
   right: -8%;
   outline: none;
   border-style: solid outset solid solid;
}

.pointer_right {
   border-color:transparent #2A88AB transparent transparent;
   border-style:solid;
   border-width:20px;
   width:0;
   height:0;
   position: relative;
   top : 0;
   float: left;
   left: -8%;
   border-style:  outset solid solid solid;
}

.year {
    background: #f39c12;
    color: white;
    margin: 5px auto;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.small_circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #f39c12;
  border-color: white;
  margin: 0 auto;
}

.left {
    float: right;
    position: relative;
    top: 17px;
}

.right {
    float: left;
    position: relative;
    top: 17px;
}

.img_item_left {
  width: 100px;
  height: 100px;
  float: left;
  border: 1px white solid;
  clear: both;
}

.img_item_right {
  height: 100px;
  float: right;
  border: 1px white solid;
}

.bd_none {
    border: none;
}

.date_event {
  border-bottom: 1px white solid;
  font-size: 20px;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 15px;
}

.follow {
  background: #f39c12;
  color: white;
  margin: 5px auto;
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
  line-height: 200px;
  font-size: 15px;
}

.home {
  width: 100%;
  height: 800px;
  background: #FFFFFF;
  padding-top: 100px;
}

nav ul li {
  list-style: none;
  display: block;
  margin-left: 10px;
  line-height: 60px;
  height: 42px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 70px;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  font-size: 20px;

}

.border-hover {
  border-top: 4px solid #f39c12;
  color: #34495e !important;
  background-color: transparent;
}

footer {
  border-top: 1px #B8B8B8 solid;
  background: #F39C12;
  width: 100%;
}

.next {
  text-align: center;
  font-size: 125px;
  text-decoration: none;
  color: white;
  margin: 0 auto;
  display: block;
  margin-top: 280px;
}

.me {
  width: 100%;
  background: #f39c12;
}

.icon-bar {
  background: #1abc9c;
}

.navbar-header {
  float: right;
  height: 100%;
}

.navbar {
  border-bottom: 3px inset #f39c12;
}

.logo {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
  height: 100%;
}

header {
  background: #2A88AB;  border-bottom: 3px solid #f39c12;
}

.nav {
  height: 70px;
}

.nav li {
  height: 100%;
}

.nav li a {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  line-height: 70px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
  font-style: italic;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.about-me {
  font-size: 22px;
  color: #333;
  padding-top: 50px;
  padding-bottom: 100px;
}
 .textCenter {
    text-align: center;
 }

#map {
  height: 256px;
}

.yellow-form {
  width: 100px;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #f39c12;
}

#skills {
  background: #2A88AB;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-size: 20px;
}

.loader-full {
  width: 100%;
  height: 25px;
  position: absolute;
  z-index: 0;
  background: #2A88AB;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: #448093 transparent transparent transparent;
  overflow: hidden;
}

.loader-fill {
  background: transparent;
  color: transparent;
  width: 0px;
  height: 25px;
  position: relative;
  z-index: 3;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: #f39c12 transparent transparent transparent;
}

.skills li {
  list-style: none;
  margin-bottom: 10px;
}

.percent {
  margin-left: -15px;
}

#skills h4 {
  margin-top: 40px;
}

.social {
  background: white;
  margin:0;
  padding:0;
}

.social img {
  margin: 0px;
  padding: 0px;
}

#map {
  margin:0;
  padding: 0;
}

.row {
  margin:0;
  padding:0;
}
