<header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <span class="col-md-3 col-sm-3 hidden-xs yellow-form">
    &nbsp;
  </span>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#me">Me</a></li>
          <li><a href="#timeline">CV</a></li>
          <li><a class="skills" href="#skills">Skills</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="cf"></div>
      </nav>
    </div>
  </div>
</header>
